<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      <a href="https://rails-tutorial-wzlxjtu.c9.io/members">Cloud9_Members</a>
      <a href="https://devops.herokuapp.com/members">Heroku_Members</a>
    </p>
  </body>
</html>