<h1>Sample App</h1>

<p>Hi <%= @member.First_Name %>,</p>

<p>
Welcome to the Sample App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@member.activation_token,
                                                    Main_Email: @member.Main_Email) %>